.shell {
  height: 100%;
  margin-top: var(--kapis-toolbar-height);

  &__sidenav {
    width: var(--kapis-sidenav-width);
    border-right: 1px solid var(--mat-sys-outline-variant);
  }

  &__content {
    background-color: var(--mat-sys-surface-container-lowest);
  }

  &__inner {
    max-width: var(--kapis-content-max-width);
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
