.sidenav-list {
  padding-top: 0.5rem;

  &__item--active {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
  }

  &__item--child {
    padding-left: 2.5rem;
  }

  &__group-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    font: var(--mat-sys-label-medium);
    color: var(--mat-sys-on-surface-variant);

    mat-icon {
      color: inherit;
    }
  }
}
