.message-template-table {
  width: 100%;

  &__wrapper {
    overflow-x: auto;
    max-height: 600px;
  }

  &__no-data {
    padding: 2rem;
    text-align: center;
    color: var(--mat-sys-on-surface-variant);
  }
}
