.connection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font: var(--mat-sys-headline-medium);
    margin: 0;
  }

  &__card-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    margin: 0 0 1.5rem;

    dt {
      font: var(--mat-sys-label-large);
      color: var(--mat-sys-on-surface-variant);
    }

    dd {
      margin: 0;
      font: var(--mat-sys-body-large);
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
  }
}
