.webhooks {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__title {
    font: var(--mat-sys-headline-medium);
    margin: 0;
  }

  &__subtitle {
    font: var(--mat-sys-title-large);
    margin: 0;
  }
}
